@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #282323;
  --color-secondary: #FF0000;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.animate-gradient-move {
  animation: gradient-move 3s linear infinite;
}

/* Estilos de Swiper para el carrusel */
.swiper-button-next,
.swiper-button-prev {
  color: var(--background);
  background: var(--color-primary);
  background-opacity: 0.5;
  border-radius: 50%;
  padding: 8px;
  transition: background-opacity 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-opacity: 0.75;
}

.swiper-pagination-bullet {
  background: var(--foreground);
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary);
  opacity: 1;
}
