@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #282323;
  --color-secondary: #FF0000;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.animate-gradient-move {
  animation: gradient-move 3s linear infinite;
}

/* Estilos de Swiper para el carrusel */
.swiper-button-next,
.swiper-button-prev {
  color: var(--background);
  background: var(--color-primary);
  background-opacity: 0.5;
  border-radius: 50%;
  padding: 8px;
  transition: background-opacity 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-opacity: 0.75;
}

.swiper-pagination-bullet {
  background: var(--foreground);
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary);
  opacity: 1;
}

@keyframes desplazar {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.animate-desplazar {
  animation: desplazar 10s linear infinite;
}
@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation.woff2") format("woff2"),
       url("/fonts/Sansation.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-sansation {
  font-family: "Sansation", sans-serif;
}


#__next-build-watcher,
.__nextjs-dev-overlay {
  display: none !important;
}

@keyframes spin-border {
  0% {
    mask-image: linear-gradient(90deg, white 30%, transparent 100%);
    transform: rotate(0deg);
  }
  100% {
    mask-image: linear-gradient(90deg, white 30%, transparent 100%);
    transform: rotate(360deg);
  }
}

@keyframes move-dot {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 8px);
  }
  50% {
    top: calc(100% - 8px);
    left: calc(100% - 8px);
  }
  75% {
    top: calc(100% - 8px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.border-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: white;
  pointer-events: none;
  z-index: 20;
  animation: move-dot 3s linear infinite;
}
